@import "../common/mixins.scss";

@include b(proxy-setting) {
  @include e(input) {
    flex: 1;
    .tip {
      margin-top: 4px;
      margin-bottom: 24px;
      font-size: 12px;
    }
  }
  .ant-row:last-child {
    margin-right: 0;
  }
}
