@import "../common/mixins";
@import "../common/utils";

@include b(rule-table) {
  @include e(tip) {
    margin-top: 4px;
    margin-bottom: 24px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 1.5715;
  }

  @include e(table) {
    .ant-table-body {
      @include utils-scroll-bar;
    }
    .ant-table-container {
      border: 1px solid #f0f0f0;
    }
    .ant-table-placeholder {
      .ant-table-cell {
        border: 0;
      }
    }
    tr:last-child {
      td {
        border-bottom: 0;
      }
    }
    th:last-child {
      border-right: 0;
    }
  }
}
