@import "common/var";
@import "common/mixins";
@import "components/page-header";
@import "components/proxy-setting";
@import "components/rule-table";
@import "components/rule-input";
@import "components/url-tags";
@import "components/gfw-list-setting";

@include b(container) {
  width: $--sm;
  margin: 0 auto;
  padding: 60px 0;
}
