@import "partial/var";
@import "partial/mixins";
@import "components/page-header";
@import "components/proxy-setting";
@import "components/rule-input";
@import "components/gfw-list-setting";
@import "components/search-input";

@import "common/table-panel";

@include b("container") {
  width: $--sm;
  margin: 0 auto;
  padding: 60px 0;
}
