.input {
  outline: none;
  border: none;
  padding: 6px 0;
  border-bottom: 1px solid #aaa;
  box-shadow: none;
  transition: all 0.2s linear;
  color: #222;
  font-size: 14px;
}

.input:focus,
.input:hover {
  border-color: #ec6a69;
  border-bottom-width: 1px;
}
