.radio {
  margin: 0 8px 8px 0;
}
.radio input[type="radio"] {
  display: none;
}
.radio label {
  position: relative;
  height: 1.4em;
  line-height: 1.4em;
  cursor: pointer;
}
.radioContainer {
  margin-left: 1.8em;
}
.radioDot {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.radio input[type="radio"] + .radioDot::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  content: "";
  display: block;
  border-radius: 50%;
  width: 0.4em;
  height: 0.4em;
  background: transparent;
  transition: background 0.2s linear;
}
.radio input[type="radio"]:checked + .radioDot {
  border-color: #ec6a69;
}
.radio input[type="radio"]:checked + .radioDot::after {
  background: #ec6a69;
}
