.rule-input {
  .input {
    flex-grow: 1;
  }
  .tags-wrap {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    .tag {
      margin-bottom: 10px;
      animation: in-anim 0.5s ease-in;
      min-width: 0px;
      max-width: 112px;
      opacity: 1;
      margin-right: 10px;
      padding: 0 6px;
    }
    .tag-anim-exit-active.tag {
      animation: out-anim 0.5s ease-out;
      max-width: 0;
      opacity: 0;
      margin-right: 0;
      padding: 0;
    }
  }
}

@keyframes in-anim {
  0% {
    max-width: 0;
    opacity: 0;
    margin-right: 0;
    padding: 0;
  }
  100% {
    max-width: 112px;
    opacity: 1;
    margin-right: 10px;
    padding: 0 6px;
  }
}
@keyframes out-anim {
  0% {
    max-width: 112px;
    opacity: 1;
    margin-right: 10px;
    padding: 0 6px;
  }
  100% {
    max-width: 0;
    opacity: 0;
    margin-right: 0;
    padding: 0;
  }
}
