.rule-input {
  .input {
    flex-grow: 1;
  }
  .tag-wrap {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    .tag {
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
