* {
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: #ccc;
}

.wrap {
  width: 600px;
  margin: 64px auto;
}

.headerWrap {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 18px;
  position: relative;
}

.title {
  font: 24px Georgia, serif;
  font-weight: bold;
  margin-left: 0.8em;
  display: inline;
}

.logo {
  width: 60px;
  vertical-align: bottom;
}

.container {
  padding: 24px 0;
}

.field > .fieldTitle:first-child {
  margin-bottom: 8px;
}

.field {
  display: block;
}

.inlineField {
  display: flex;
  align-items: center;
}

.field,
.inlineField {
  margin-bottom: 16px;
}

.inlineField > .fieldTitle:first-child,
.field > .fieldTitle:first-child {
  font-size: 1.4em;
}

.fieldContainer {
  margin-left: 16px;
}
.controllWrap {
  text-align: right;
}
